# Ignore les fichiers générés par LaTeX
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.idx
*.ind
*.ilg
*.blg
*.bbl
*.brf
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.xdv
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loa
*.lof
*.log
*.lol
*.lot
*.out
*.sav
*.syg
*.synctex.gz
*.tdo
*.vtc
*.xdy
*.synctex(busy)
*.synctex.gz(busy)
*.spl